<div class="container">
  <ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Cargando turnos...</p>
</ngx-spinner>
  <h1>Mis Turnos</h1>
  <div class="mb-3 busqueda">
    <label for="filtro" class="form-label">Buscar:</label>
    <input
      #filtro
      type="text"
      class="form-control filtro-busqueda"
      id="filtro"
      (input)="filtrarTurnos()"
    />
  </div>

  <div class="list-group">
    <div *ngFor="let turno of turnosFiltrados | async">
      <a class="list-group-item list-group-item-action mb-3">
        <div>
          <div>
            <p>
              Para:
              <b style="color: cornflowerblue">{{ turno.Especialidad }}</b>
            </p>
            <p>
              Dia: <i>{{ turno.fecha }}</i>
            </p>
            <p>
              Hora: <i> {{ turno.hora }} hs</i>
            </p>
          </div>
          <p>
            Paciente:
            <i>{{ turno.Paciente }} </i>
          </p>
          <p class="card-text">
            Estado: <b>{{ turno.estado }}</b>
          </p>
          <div  class="card mb-3" *ngIf="turno.historiaClinica !== null">
            <div class="card-header">
              <h2>Historia Clínica</h2>
            </div>
            <div class="card-body">
              <p><strong>Altura:</strong> {{ turno.historiaClinica.altura }} cm</p>
              <p><strong>Peso:</strong> {{ turno.historiaClinica.peso }} kg</p>
              <p><strong>Temperatura:</strong> {{ turno.historiaClinica.temperatura }} °C</p>
              <p><strong>Presión:</strong> {{ turno.historiaClinica.presion }}</p>
              <div *ngFor="let dato of turno.historiaClinica.datosDinamicos | keyvalue">
                <p>
                  <strong>{{ dato.key }}:</strong> {{ dato.value }}
                </p>
              </div>
            </div>
          </div>

          <br />
          <td
            style="padding: 2%"
            *ngIf="
              turno.estado === 'espera' ||
              (turno.estado !== 'aceptado' &&
                turno.estado !== 'cancelado' &&
                turno.estado !== 'rechazado' &&
                turno.estado !== 'finalizado')
            "
          >
            <button class="btn btn-success" (click)="rechazarTurno(turno)">
              Rechazar turno
            </button>
          </td>

          <td
            style="padding: 2%"
            *ngIf="
              turno.estado === 'espera' ||
              (turno.estado !== 'aceptado' &&
                turno.estado !== 'cancelado' &&
                turno.estado !== 'rechazado' &&
                turno.estado !== 'finalizado')
            "
          >
            <button class="btn btn-success" (click)="cancelarTurno(turno)">
              Cancelar turno
            </button>
          </td>

          <td
            style="padding: 2%"
            *ngIf="
              turno.estado === 'espera' ||
              (turno.estado !== 'rechazado' &&
                turno.estado !== 'aceptado' &&
                turno.estado !== 'cancelado' &&
                turno.estado !== 'finalizado')
            "
          >
            <button class="btn btn-success" (click)="aceptarTurno(turno)">
              Aceptar Turno
            </button>
          </td>
          <td
            style="padding: 2%"
            *ngIf="turno.estado === 'aceptado' && turno.estado !== 'finalizado'"
          >
            <button class="btn btn-success" (click)="finalizarTurno(turno)">
              Finalizar turno
            </button>
          </td>

          <div
            class="form-group"
            *ngIf="
              turno?.estado === 'finalizado' && turno.historiaClinica === null
            "
          >
            <p class="card-text" style="color: red;">
              Debe completar la historia clinica del paciente...
            </p>
            <app-historia-clinica [turno]="turno"></app-historia-clinica>
          </div>

          <td
            style="padding: 2%"
            *ngIf="turno.resena !== '' || turno.comentario !== ''"
          >
            <button class="btn btn-success" (click)="verResenia(turno)">
              Ver reseña
            </button>
          </td>
        </div>
      </a>
    </div>
  </div>
</div>
