<div class="container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
      <div class="form-group">
        <label for="puntajeClinica">Puntaje sobre los servicios e infraestructura de la clínica (1-10):</label>
        <input
          type="number"
          id="puntajeClinica"
          formControlName="puntajeClinica"
          class="form-control inputs"
        />
        <div *ngIf="form.controls['puntajeClinica'].errors != null">
          <small
            class="invalid"
            style="color: red;"
            *ngIf="
              form.controls['puntajeClinica'].errors!['required'] &&
              form.controls['puntajeClinica'].errors!['required'] &&
              form.controls['puntajeClinica'].touched
            "
            >Debe ingresar un puntaje para la clínica.
          </small>
          <small
            class="invalid"
            style="color: red;"
            *ngIf="form.controls['puntajeClinica'].errors['min']"
          >
            El puntaje de la clínica debe ser mayor o igual a 1.
          </small>
          <small
            class="invalid"
            style="color: red;"
            *ngIf="form.controls['puntajeClinica'].errors['max']"
          >
            El puntaje de la clínica debe ser menor o igual a 10.
          </small>
        </div>
      </div>
      <div class="form-group">
        <label for="comentarioClinica">Comentario sobre los servicios e infraestructura de la clínica:</label>
        <textarea
          id="comentarioClinica"
          formControlName="comentarioClinica"
          class="form-control inputs"
        ></textarea>
        <div *ngIf="form.controls['comentarioClinica'].errors != null">
          <small
            class="invalid"
            style="color: red;"
            *ngIf="
              form.controls['comentarioClinica'].errors!['required'] &&
              form.controls['comentarioClinica'].touched
            "
            >Debe ingresar un comentario sobre la clínica..</small
          >
        </div>
      </div>
  
      <div class="form-group">
        <label for="puntajePersonal">Puntaje del personal de la clinica (1-10):</label>
        <input
          type="number"
          id="puntajePersonal"
          formControlName="puntajePersonal"
          class="form-control inputs"
        />
        <div *ngIf="form.controls['puntajePersonal'].errors != null">
          <small
            class="invalid"
            style="color: red;"
            *ngIf="
              form.controls['puntajePersonal'].errors!['required'] &&
              form.controls['puntajePersonal'].errors!['required'] &&
              form.controls['puntajePersonal'].touched
            "
            >Debe ingresar un puntaje para el personal.
          </small>
          <small
          style="color: red;"
            class="invalid"
            *ngIf="form.controls['puntajePersonal'].errors['min']"
          >
            El puntaje del personal debe ser mayor o igual a 1.
          </small>
          <small
          style="color: red;"
            class="invalid"
            *ngIf="form.controls['puntajePersonal'].errors['max']"
          >
            El puntaje del personal debe ser menor o igual a 10.
          </small>
        </div>
      </div>
      <div class="form-group">
        <label for="comentarioPersonal"
          >Comentario sobre el personal de la clinica:</label
        >
        <textarea
          id="comentarioPersonal"
          formControlName="comentarioPersonal"
          class="form-control inputs"
        ></textarea>
        <div *ngIf="form.controls['comentarioPersonal'].errors != null">
          <small
            class="invalid"
            style="color: red;"
            *ngIf="
              form.controls['comentarioPersonal'].errors!['required'] &&
              form.controls['comentarioPersonal'].touched
            "
            >Debe ingresar un comentario sobre el especialista..</small
          >
        </div>
      </div>
  
      <button type="submit" class="btn btn-primary mt-3">Enviar</button>
    </form>
  </div>